<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <title>EDUME</title>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo-edu-meeting.css}">
    <link rel="stylesheet" th:href="@{/css/owl.css}">
    <link rel="stylesheet" th:href="@{/css/lightbox.css}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/main.css}">
    <script th:src="@{libs/gsap/gsap.min.js}" defer></script>
    <script th:src="@{libs/gsap/ScrollTrigger.min.js}" defer></script>
    <script th:src="@{libs/gsap/ScrollSmoother.min.js}" defer></script>

    <script th:src="@{js/app.js}" defer></script>

</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<div class="wrapper">
    <div class="content">

        <header class="main-header">
            <div class="layers">
                <div class="layer__header">
                    <div class="layers__caption">Welcome to</div>
                    <div class="layers__title">Fairy EDUME</div>
                </div>
                <div class="layer layers__base" style="background-image: url(/images/layer-base.png);"></div>
                <div class="layer layers__middle" style="background-image: url(/images/layer-middle.png);"></div>
                <div class="layer layers__front" style="background-image: url(/images/layer-front.png);"></div>
            </div>
        </header>

        <article class="main-article" style="background-image: url(/images/dungeon.jpg);">
            <div class="main-article__content">
                <h2 class="main-article__header">To be continued</h2>
                <p class="main-article__paragraph" style="color: white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis error provident dignissimos facere. Repellendus tempore autem qui! Quia magnam tempora esse id necessitatibus corrupti mollitia expedita sapiente cum rerum, ut dicta laboriosam!</p>
            </div>
        </article>
    </div>
</div>
</body>
</html>
