<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<div class="container mt-5">
    <h1>Add new uni</h1>
    <form action="/blog/add" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Name of post" class="form-control"><br>
        <br><input type="file" name="image"><br>
        <br><input type="text" name="anons" placeholder="Enter anons" class="form-control"><br>
        <textarea type="text" name="full_text" placeholder="Enter full text" class="form-control"></textarea><br>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>
<div th:insert="~{blocks/footer :: footer}"></div>
</body>
</html>
