<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <title>EDUME</title>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo-edu-meeting.css}">
    <link rel="stylesheet" th:href="@{/css/owl.css}">
    <link rel="stylesheet" th:href="@{/css/lightbox.css}">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<div class="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <div class="left-content">
                    <p>This is an educational
                        <em>INAI</em>
                        developed by MIN
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="right-icons">
                    <ul>
                        <li><a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://www.youtube.com"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source th:src="@{/images/course-video.mp4}" type="video/mp4"/>
    </video>
    <div class="video-overlay header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="caption">
                        <h6>Hello Everyone!</h6>
                        <h2>Welcome to EDUME</h2>
                        <p>Unlock new educational opportunities at prestigious universities, explore cutting-edge
                            courses, and access the latest career advice and guidance.
                            Embark on a rewarding remote work journey with <a href="/">EDUME</a> and discover your ideal
                            job that
                            offers
                            flexibility and convenience.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-service-item owl-carousel">
                    <div class="item">
                        <div class="icon">
                            <img th:src="@{/images/service-icon-01.png}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Best Education</h4>
                            <p>
                                Start your career path at the best universities.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img th:src="@{/images/service-icon-02.png}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Reliability</h4>
                            <p>
                                We guarantee the credibility and relevance of the information we share
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img th:src="@{/images/service-icon-03.png}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Perspective possibility</h4>
                            <p>
                                We will help you find a remote job that will open new doors for you and save time!
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img th:src="@{/images/service-icon-02.png}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>The best option</h4>
                            <p>Join us! Subscribe and learn more about interesting topics</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img th:src="@{/images/service-icon-03.png}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Best Networking</h4>
                            <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non
                                vestibulum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="upcoming-meetings" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Open your door</h2>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <a href="/students">
                        <div class="col-lg-6" style="width: 500px; margin:20px">
                            <div class="meeting-item">
                                <div class="thumb">
                                    <img th:src="@{/images/meeting-01.jpg}" alt="New Lecturer Meeting">
                                </div>
                                <div class="down-content "
                                     style="height: 150px;display: flex; flex-direction: column;align-items: center;">
                                    <h4>School-Livers</h4>
                                    <p>Intelligence is the ability to adapt to change</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 " style="width: 500px; margin:20px">
                    <a href="/job">
                        <div class="meeting-item">
                            <div class="thumb">
                                <img th:src="@{/images/meeting-02.jpg}" alt="Online Teaching">
                            </div>
                            <div class="down-content" style="height: 150px;display: flex; flex-direction: column;align-items: center;">
                                <h4 style="text-align: center">Job List</h4>
                                <p>Don’t let the noise of others’ opinions <br> drown out your own inner voice.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="our-courses" id="courses" style="padding-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Popular Applications</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="owl-courses-item owl-carousel">
                    <div th:each="app : ${apps}" class="item">
                        <img th:src="@{/getImage(fileName=${app.photoUrl})}" alt="Course One">
                        <div class="down-content">
                            <h4 th:text="${app.title}"/>
                        </div>
                        <a th:href="'/students/apps/'+${app.id}">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<section class="our-facts">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>A Few Facts About Our Web-Site</h2>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="count-area-content percentage">
                                    <div class="count-digit">94</div>
                                    <div class="count-title">Succesed Applications</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="count-area-content">
                                    <div class="count-digit">126</div>
                                    <div class="count-title">Real vacations</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="count-area-content new-students">
                                    <div class="count-digit">2345</div>
                                    <div class="count-title">New School-Livers</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="count-area-content">
                                    <div class="count-digit">32</div>
                                    <div class="count-title">Awards</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="video">
                    <a href="https://www.youtube.com/watch?v=rErLj88X_3o&t=147s" target="_blank">
                        <img th:src="@{/images/play-icon.png}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:insert="~{blocks/footer.html :: footer}"></footer>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/isotope.min.js}"></script>
<script th:src="@{/js/owl-carousel.js}"></script>
<script th:src="@{/js/lightbox.js}"></script>
<script th:src="@{/js/tabs.js}"></script>
<script th:src="@{/js/video.js}"></script>
<script th:src="@{/js/slick-slider.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script>
    $('.nav li:first').addClass('active');
    var showSection = function showSection(section, isAnimate) {
        var
            direction = section.replace(/#/, ''),
            reqSection = $('.section').filter('[data-section="' + direction + '"]'),
            reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
            $('body, html').animate({
                    scrollTop: reqSectionPos
                },
                800);
        } else {
            $('body, html').scrollTop(reqSectionPos);
        }

    };

    var checkSection = function checkSection() {
        $('.section').each(function () {
            var
                $this = $(this),
                topEdge = $this.offset().top - 80,
                bottomEdge = topEdge + $this.height(),
                wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
                var
                    currentId = $this.data('section'),
                    reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                reqLink.closest('li').addClass('active').siblings().removeClass('active');
            }
        });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
        e.preventDefault();
        showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
        checkSection();
    });
</script>
</body>
</html>